@*@model IEnumerable<MVC.Models.DataModels.Blogs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />



<p>
    <a href="@Url.Action("AddOrEdit","Blogs")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>Actions</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>

            <td>
                <a href="@Url.Action("AddOrEdit", "Blogs", new { id = item.BlogId})" class="btn btn-default"><i class="fa fa-pencil"></i>  Edit</a>
                <a onclick="Delete(@item.BlogId)" class="btn btn-default"><i class="fa fa-trash"></i>  Delete</a>
            </td>

        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage !== '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Blogs")/'+id;
            },null );
        }
    </script>
}*@